In [7]:
import pandas as pd
import plotly.express as px

import plotly.graph_objects as go

In [5]:
locations = {
    "USA": {"lat": 38.0, "lon": -97.0},
    "Europe": {"lat": 50.0, "lon": 10.0},
    "Asia": {"lat": 35.0, "lon": 100.0},
    "Australia": {"lat": -25.0, "lon": 133.0},
    "Africa": {"lat": 0.0, "lon": 20.0},
    "Indonesia": {"lat": -0.7893, "lon": 113.9213}
}

In [3]:
data = {
    'Country': ['USA', 'Europe', 'Asia', 'Australia', 'Africa'],
    'Investment2023': [3283.1, 3029.4, 41363.4, 674.5, 540.7]
}

df = pd.DataFrame(data)
df.head()

     Country  Investment2023
0        USA          3283.1
1     Europe          3029.4
2       Asia         41363.4
3  Australia           674.5
4     Africa           540.7

In [ ]:
region_mapping = {
    'USA': 'United States',
    'Europe': 'European Union',
    'Asia': 'Asia',
    'Australia': 'Australia',
    'Africa': 'Africa'
}
df['Region'] = df['Country'].map(region_mapping)

# Plot
fig = px.choropleth(df,
                    locations="Region",
                    locationmode='country names',
                    color="Investment2023",
                    color_continuous_scale="Blues",
                    title="Investment Flow into Indonesia (2023)",
                    labels={'Investment2023': 'Investment (Million USD)'})

fig.show()

In [ ]:
data = [
    {"country": "USA", "investment": 3283.1},
    {"country": "Europe", "investment": 3029.4},
    {"country": "Asia", "investment": 41363.4},
    {"country": "Australia", "investment": 674.5},
    {"country": "Africa", "investment": 540.7}
]

fig = go.Figure()

# Add each flow line
for entry in data:
    origin = locations[entry["country"]]
    destination = locations["Indonesia"]
    investment = entry["investment"]

    # Create curved line (by interpolating a midpoint shifted upward for arc effect)
    lat_mid = (origin["lat"] + destination["lat"]) / 2 + 20  # adjust curve height
    lon_mid = (origin["lon"] + destination["lon"]) / 2

    lats = [origin["lat"], lat_mid, destination["lat"]]
    lons = [origin["lon"], lon_mid, destination["lon"]]

    fig.add_trace(go.Scattergeo(
        locationmode='ISO-3',
        lon=lons,
        lat=lats,
        mode='lines',
        line=dict(width=2, color='blue'),
        opacity=0.6,
        hoverinfo='text',
        text=f"{entry['country']} â†’ Indonesia: ${investment}M"
    ))

    # Add text label near midpoint
    fig.add_trace(go.Scattergeo(
        lon=[lon_mid],
        lat=[lat_mid],
        mode='text',
        text=[f"${investment}M"],
        textfont=dict(size=12, color='black'),
        showlegend=False
    ))

# Add points for each region and Indonesia
for name, coord in locations.items():
    fig.add_trace(go.Scattergeo(
        lon=[coord["lon"]],
        lat=[coord["lat"]],
        mode='markers+text',
        marker=dict(size=6, color='red' if name == "Indonesia" else 'gray'),
        text=[name],
        textposition="bottom center",
        showlegend=False
    ))

# Layout
fig.update_layout(
    title_text='Investment Flow into Indonesia (2023)',
    showlegend=False,
    geo=dict(
        scope='world',
        projection_type='natural earth',
        showland=True,
        landcolor='lightgray',
        countrycolor='white',
    )
)

fig.show()